<!-- minify -->
<link href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css" rel="stylesheet" />
<!-- latest -->
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
<!-- core style only -->
<link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />

{% extends 'apka/template.html' %}
{% load static %}



{% block content %}
</br></br>
	<center>
	<div class="nes-table-responsive">
	  <table class="nes-table is-bordered is-centered">
	    <thead>
	       <upside>Ranking matek patologicznych</upside>
	      <tr>
	        <th>Imie </th>
	        <th>Nazwisko </th>
	        <th>Ile dzieci</th>
	        <th>Ile punktow</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for mother in mothers %}
	      <tr>
	        <td>{{  mother.firstName }} </td>
	        <td>{{  mother.secondName }}</td>
	        <td>{{  mother.getChildrenCount }}</td>
	        <td>{{  mother.points }}</td>
	      </tr>
	         {% endfor %}
	    </tbody>
	  </table>
	</div>
	</center>

{% endblock %}
